<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
<hibernate-configuration>
	<session-factory>
	<!-- 第一部分，配置数据库信息是必须的 -->
	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver </property>
	<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_day03</property>
	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.connection.password">516618</property>
	
	<!-- 第二部分，配置hibernate信息，可选的 -->
	<!-- 输出底层sql语句 -->
	<property name="hibernate.show_sql">true</property>
	<!-- 输出底层sql语句格式 -->
	<property name="hibernate.format_sql">true</property>
	<!-- hibernate帮创建表,需要配置之后
	如果已经有表，更新，没有就创建 -->
	<property name="hibernate.hbm2ddl.auto">update</property>
	<!-- 配置数据库方言，在mysql里实现分页查询关键字为limit
	而在oracle里，用关键字lownum来实现
	让hibernate框架识别不同数据库的语句 -->
	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	<!--第三部分，把映射文件配置到核心配置文件中，必须的 -->
	<!--第三部分，把映射文件配置到核心配置文件中，必须的 -->
	<mapping resource="cn/liu/hibernate/customer.hbm.xml"/>
	<mapping resource="cn/liu/hibernate/linkman.hbm.xml"/>
	<mapping resource="cn/liu/hibernate/user.hbm.xml"/>
	<mapping resource="cn/liu/hibernate/role.hbm.xml"/>
	</session-factory>
</hibernate-configuration>